html, body {
    width: 100%;
    height: 100%;
    background-color: #3498db;
}


.formBase{
    width: 100%;
    height: 100%;
}

.formHeader {
    font-size: 15mm;
    color: #290682;
    height: 20mm;
    display: block;
    align-items: center;
    text-align: center;
}

.formSpaceSeparator{
    height: 20px;
}


.formParamCaption {
    width: 90mm;
    text-align: left;
    font-size: 9mm;
}

.formParamValue{
    width: 100%;
}

.formNumberParamValue{
    width: 90mm;
}

.formStringParamValue{
    width: 120mm;
    font-size: 9mm;

}

.formCheckboxParamValue{
    width: 18px;
}

.innerRef {
    cursor: pointer;
    color: inherit;
}

.activeItem{
    font-size: 17px;
    cursor: pointer;
    color: #000088;
}

.form-active-test{
    font-size: 17px;
    cursor: pointer;
    color: #000066;
}

.form-flex-vertical-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.form-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15mm;
    /*background-color: #000066;*/
}

.form-flex-horizontal-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20mm;
}

.form-animate-border{
    transition: border 100ms ease-in;
    -webkit-transition: border 100ms ease-in;
    -moz-transition: border 100ms ease-in;
    -o-transition: border 100ms ease-in;
}

.form-animate-box-shadow{
    transition: box-shadow 100ms ease-in;
    -webkit-transition: box-shadow 100ms ease-in;
    -moz-transition: box-shadow 100ms ease-in;
    -o-transition: box-shadow 100ms ease-in;
}

.form-animate-text-shadow{
    transition: text-shadow 100ms ease-in;
    -webkit-transition: text-shadow 100ms ease-in;
    -moz-transition: text-shadow 100ms ease-in;
    -o-transition: text-shadow 100ms ease-in;
}

.form-animate-color{
    transition: color 100ms ease-in;
    -webkit-transition: color 100ms ease-in;
    -moz-transition: color 100ms ease-in;
    -o-transition: color 100ms ease-in;
}

.form-animate-opacity{
    transition: opacity 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
}

/* надпись запрещенного поля */
.form-container-field-disabled{
    color: silver;
}





.toolButton{
    float: left;
    margin-right: 10mm;
    font-size: 9mm;
}

.miniButtonIcon {
    background-image: url("../img/buttons.jpg");
    position: relative;
    height: 15mm;
    width: 15mm;
    cursor: pointer;
}


.buttonIcon:hover {
    opacity: 1;
}

.buttonIcon-disabled {
    opacity: 0.2;
}

.buttonIcon-disabled:hover {
    opacity: 0.2;
}

.buttonIconConfig {
    background-position: -86px -498px;
}

.buttonIconShare {
    background-position: -86px -688px;
}

.buttonIconDown {
    background-position: -250px -130px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.div-button {
    float: left;
    margin-right: 15px;
}










.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15mm;
    border-radius: 5mm;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25mm;
    height: 25mm;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25mm;
    height: 25mm;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}